<div class="countdown_label"  style="z-index: 1">
    <p>Countdown bis zum nächsten voraussichtlichen Treppenunfall</p>
</div>
<div class="countdown_window">
    <div class="countdown_digit">
        <span id="digit1">0</span>
    </div>
    <div class="countdown_digit">
        <span id="digit2">0</span>
    </div>
    <div class="countdown_digit">
        <span id="digit3">0</span>
    </div>
</div>
<script src="script/renderCountdown.js"></script>
