<p> Treppenstürze entstehen oft durch Eile, Ablenkung oder technische Mängel wie rutschige Stufen.<br>
    Um Unfälle zu vermeiden, kann man auf folgende Dinge achten:</p>

<div>
    <img id="infoImage" src="res/Laufhantel.webp" alt="Wechselndes Bild" style="width: 100%; max-width: calc(600*100vw/1920); border-radius: calc(16*100vw/1920); margin-top: calc(12*100vw/1920)">
    <p id="imageCaption" style="color: #666; margin-top: calc(6*100vw/1920)">
        Achte beim Treppensteigen darauf, dass du die Laufhantel benutzt.
    </p>
</div>
