:root {
    --border-radius: calc(8*100vw/1920);
    --div-margin: calc(8*100vw/1920);
    --div-padding: calc(32*100vw/1920) calc(64*100vw/1920) calc(32  *100vw/1920) calc(64*100vw/1920);
    --border: #ACACACFF 1pt solid;
    --background-color-1: #F0F0F0FF;
    --background-color-2: rgba(255, 255, 255, 0.4);
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    z-index: 1;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    text-align: center;
    letter-spacing: 0.5vw;
    font-family: "Julius Sans One", serif;
    font-weight: bolder;
    font-size: 4vw;
}

.content {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: calc(16*100vw/1920);
    justify-content: space-between;
}

.content>div {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    padding: var(--div-padding);
    margin-left: var(--div-margin);
    margin-right: var(--div-margin);
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--background-color-1);
}

.content>div:first-of-type {
    margin-left: 0;
}

.content>div:last-of-type {
    margin-right: 0;

}

.content_main {
    width: 66%;
    height: 100%;
    border: black 1pt solid;
}

.content_side {
    flex: 1;
    height: 100%;
    border: black 1pt solid;
    padding: calc(32*100vw/1920) calc(32*100vw/1920) calc(64*100vw/1920) calc(32*100vw/1920);
}

.countdown {
    margin-top: calc(48*100vw/1920);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.countdown_label{
    text-align: right;
    margin-right: calc(32*100vw/1920);
    letter-spacing: 0.3vw;
    flex: 1;
    font-family: "Kumbh Sans", sans-serif;
    color: #6D3636FF;
    font-size: 1.4vw;
    font-weight: bold;
}

.countdown_window {
    display: flex;
    flex-direction: row;
    height: calc(256*100vw/1920);
    width: calc(512*100vw/1920);
    border: var(--border);
    background-color: var(--background-color-2);
    backdrop-filter: blur(calc(16vw*100/1920));
    box-shadow: 0 calc(32vw*100/1920) calc(32vw*100/1920) rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
}

.countdown_digit {
    height: 100%;
    flex: 1;
    display: flex;
    border-right: var(--border);
    justify-content: center;
    align-items: center;
}

.countdown_digit:last-of-type {
    border-right: none;
}

.countdown_digit>span {
    font-family: "Share Tech Mono", monospace;
    font-size: 10vw;
    color: #E53935FF;
}

.tipps {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.window>h4 {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    color: #E53935FF;
    font-size: 1.8vw;
}

.window>p {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.8vw;
}


.window {
    display: flex;
    flex-direction: column;
    padding: calc(16*100vw/1920);
    height: calc(192*100vw/1920);
    width: calc(512*100vw/1920);
    border: var(--border);
    background-color: var(--background-color-2);
    backdrop-filter: blur(calc(16vw*100/1920));
    box-shadow: 0 calc(32vw*100/1920) calc(32vw*100/1920) rgba(0, 0, 0, 0.25);
    border-radius: var(--border-radius);
}

.infoButton {
    padding: calc(32*100vw/1920);
    height: calc(192*100vw/1920);
    margin-top: auto;
    border: var(--border);
    background-color: #3596e5;
    box-shadow: 0 calc(32vw*100/1920) calc(32vw*100/1920) rgba(0, 0, 0, 0.25), inset 0 0 calc(64vw*100/1920) rgba(255, 255, 255, 0.5);
    border-radius: calc(16vw*100/1920);
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    font-size: 1.8vw;
    font-weight: bolder;
    z-index: 1;
    cursor: pointer;
}

.chartTitle {
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: bolder;
    font-size: 1.8vw;
    margin-bottom: calc(48vw*100/1920);;
}

.chartContainer {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
}

.myPieChart {
    display: block;

    max-height: 100%;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    object-fit: contain;}



.decreaseButton {
    padding: calc(32*100vw/1920);
    height: calc(192*100vw/1920);
    border: var(--border);
    background-color: #E53935D0;
    backdrop-filter: blur(calc(16vw*100/1920));
    box-shadow: 0 calc(32vw*100/1920) calc(32vw*100/1920) rgba(0, 0, 0, 0.25), inset 0 0 calc(64vw*100/1920) rgba(255, 255, 255, 0.5);
    border-radius: calc(16vw*100/1920);
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    color: white;
    font-size: 2.5vw;
    font-weight: bolder;
    margin-top: auto;
}

.decreaseLabel {
    margin-top: auto;
    margin-bottom: calc(32vw*100/1920);
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.8vw;
}

.decreaseButton:active {
    background-color: #9c3838;
}