    <!DOCTYPE html>
    <html lang="en">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="script/renderer.js"></script>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Countdown Timer</title>
        <link type="text/css" href="/style/main.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Kumbh+Sans:wght@100..900&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <body>
        <div class="content">
            <div class="content_main" >
                <img src="res/tu.png" alt="background" style="width: calc(1048vw*100/1920); position: absolute; float: right; top: 0; right: 0; z-index: 0" >
                <header>TREPPENUNFALLZÄHLER</header>
                <div class="countdown">
                    <%- include('partials/countdown') %>
                </div>
                <button class="decreaseButton" onclick="decreaseCountdown();">Hier drücken, bevor die Treppe hinaufsteigen</button>
            </div>
            <div class="content_side">
                <h1 class="chartTitle" id="chartTitle">Gründe für den Treppensturz</h1>
                <div class="chartContainer">
                    <canvas class= "myPieChart" id="myPieChart"></canvas>
                </div>
                <button class= "infoButton" onclick="openPopUp('infoUnfall')">Mehr Infos zur Treppensicherheit</button>
            </div>
        </div>

        <%- include('partials/popup',
            {
                id: 'infoUnfall',
                header: 'Treppenunfälle in Deutschland',
                innerHTML: 'info',
                closeWithButton: 'true',
                overlayColor: 'rgba(0, 0, 0, 0.5)',
                buttons: [
                    {
                        id: 'prevImage',
                        value: '🡄',
                        onclick: 'prevImage();'
                    },
                    {
                        id: 'nextImage',
                        value: '🡆',
                        onclick: 'nextImage();'
                    },
                ]
            }
        ) %>

        <%- include('partials/popup',
            {
                id: 'deathScreen',
                header: 'Statistisch passiert DIR ein Unfall!',
                innerHTML: 'deathScreen',
                closeWithButton: 'false',
                overlayColor: 'rgba(255, 0, 0, 0.5)',
                buttons: [
                    {
                        id: 'moreInfo',
                        value: 'Wie kann ich das verhindern?',
                        onclick: 'closePopUp("deathScreen"); openPopUp("infoUnfall"); resetCountdown();'
                    },
                ]
            }
        ) %>


        <!-- <div id="modalOverlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 999;"></div> -->
        <script>
            const titles = [
                "Gründe für den Treppensturz",
                "Arten von Arbeitsunfällen",
            ];

            const titleElement = document.getElementById("chartTitle");

            let currentTitleIndex = 0;

            function switchTitle() {
                currentTitleIndex = (currentTitleIndex + 1) % titles.length;
                titleElement.textContent = titles[currentTitleIndex];
            }
            setInterval(switchTitle, 20000);
        </script>
    </body>
    </html>
